*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/*Paleta de colores*/
:root {
	/*el fondo principal está en el botstrap*/
	--main-primary-color: #5A6AC1;
	--main-secondary-color: #E31B6D;
	--main-bg-color: #E5E5E5;
}

body{
	font-family: 'Signika' !important;
  background-color: var(--main-bg-color);
}

li{
  list-style: none !important;
}

::selection{
  background-color: var(--main-secondary-color);
  color: white;
}

.card{
  border: none !important;
  border-radius: .75rem;
}

.m-bg-primary{
	background-color: var(--main-primary-color) !important;
}

.m-bg-color{
  background-color: var(--main-bg-color) !important;
}

.m-text-secondary{
	color: var(--main-secondary-color) !important;
}

.btn:focus{
	box-shadow: none !important;
}
.m-btn-primary{
	background-color: var(--main-secondary-color);
	color: white;
}

.m-btn-primary:hover{
	background-color: transparent;
	color: white;
	border: 2px solid var(--main-secondary-color);
}

.m-btn-primary-mate{
  background-color: var(--main-secondary-color);
  color: white;
}

.m-btn-primary-mate:hover{
  background-color: var(--main-secondary-color);
  color: white;
  /*border: 2px solid var(--main-secondary-color);*/
}

/*social button*/
.social-btn{
  border: 1px solid white;
  padding: .5rem;
  border-radius: 8px;
}

.social-btn:hover{
  background-color: white;
  color:  var(--main-secondary-color) !important;
  border: 2px solid var(--main-secondary-color) !important;
}

.brand-decorate{
	position: relative;
}
.brand-decorate:after{
  content:"";
  position:absolute;
  left:0;
  bottom:6px;
  right:0;
  background: var(--main-secondary-color);
  height:4px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 8px;
}

.nav-link{
	position: relative;
}
.nav-link:hover{
	color: var(--main-secondary-color) !important;
}

.nav-link:after{
    content: '';
    position: absolute;
    border-bottom: 4px solid var(--main-secondary-color);
    bottom: 6px;
    left: 35%;
    right: 35%;
    border-radius: 8px;
    transition: all 500ms;
}

.nav-link:hover:after{
    right: 0;
    left: 0;
}

nav{
  position: relative;
}

nav:after{
  position: absolute;
  content: '';
  background-color: var(--main-primary-color);
  width: 100%;
  height: 8px;
  bottom: -.5rem;

}

.z-index{
  z-index: 10;
}

header{
  position: relative;
}
.svg-header {
  bottom: -.5rem;
  height: 20vh;
}

section{
  position: relative;
}
.svg-proyectos{
  top: -.5rem;
  height: 15vh;
}

.svg-proyectos-abajo{
  bottom: -.5rem;
  height: 15vh;
}

.svg-contacto{
  top: -.5rem;
  height: 15vh;
}

.tamaño-container{
  padding-bottom: 10rem;
}

.progress{
  height: 8px;
}

.relative{
  position: relative;
}

.porcentaje{
  position: absolute;
  top: 4px;
  right: 0;
}

.progress-bar{
  animation: llenarBarra 2.5s 1;
  animation-fill-mode: forwards;
}

@keyframes llenarBarra{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}

.progress-bar{
  background-color: var(--main-secondary-color) !important;
}

.proyectos img{
  border-radius: 16px !important;
}

.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 68%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}


.hover::after {
  content: '';
  width: calc(100% - 3rem);
  height: calc(100% - 3rem);
  border: 2px solid var(--main-secondary-color);
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 90;
  transition: all 0.3s;
  transform: scale(1.1);
  opacity: 0;
  display: block;
  opacity: 0;
}

.hover-contenido {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-80%);
  text-align: center;
  z-index: 99;
}

.hover-descripcion {
  opacity: 0;
  transform: scale(1.3);
  transition: all 0.3s;
}

.hover .hover-overlay {
  background: rgba(0, 0, 0, 0.2);
}

.hover:hover::after {
  opacity: 1;
  transform: none;
}

.hover:hover .hover-descripcion {
  opacity: 1;
  transform: none;
}

.hover:hover .hover-overlay {
  background: rgba(90, 106, 193, 0.5);
}

.circle{
  clip-path: circle(28.0% at 50% 50%);
  width: 90%;
  height: 90%;
  margin: 0 auto;
}

.circle img{
  width: 35%;
  height: auto;
}

.btn-up{
  position: absolute;
  right: 45%;
  left: 45%;
  top: -1.5rem;
}

.cerrar-modal{
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  width: 8%;
  height: 8%;
  z-index: 99;
  border-radius: none !important;
}

.particles-js{
  position: relative;
}

.particles-box {
  position: absolute;
  top: 25%;
  /*right: 25%;*/
  left: 0;
}

.font-large{
  font-size: 6vw !important;
}

.font-small{
  font-size: 3vw !important;
}

.fondo-contacto{
  width: 100%;
  background: url(../img/FondoContacto.svg) center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}